
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.div-h1{

    margin-bottom: 3rem;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    color: #D1495B;
}



form{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:  35rem;
    height: 30rem;
    background-color:#EEF36A;
    border-radius: 0 0 70px 0px;
}

input{
    display: block;
    height: 50px;
    width: 400px;
    margin: 5px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
}
