<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LovePet-Cadastro</title>
    <link href="style/global.css" rel="stylesheet">
    <link href="style/cadastro.css" rel="stylesheet">
  </head>
  <body>
    <div class="global">

      <form id="formCadastro">
        <div class="div-h1">
          <h1>LovePet</h1>
        </div>
        <input type="text" name="nome" id="nome" placeholder="Nome" />
        <input type="email" name="email" id="email" placeholder="Email"/>
        <input type="password" name="senha" id="senha" placeholder="Senha"/>
        <input type="submit" id="botaoCadastro" value="Cadastrar">

      </form>


    </div>
   
  </body>

  <script src="js/cadastro.js">
 
  </script>
</html>
