<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style/login.css" rel="stylesheet" />
    <link href="./style/global.css" rel="stylesheet" />
    <title>LovePet-Login</title>
  </head>
  <body>
    <div class="global">
      
      <form id="form" >

        <div class="div-h1">
          <h1>LovePet</h1>
        </div>
        <input type="email" name="login" id="email" placeholder="Email"/>

        <input type="password" name="senha" id="senha" placeholder="Senha" />

       <input type="submit"  value="Entrar" id="botao">

      </form>
     
    </div>

    <script src="./js/login.js"></script>
  </body>
</html>
